# Ignore Node.js dependencies for both client and server
client/node_modules/
server/node_modules/

# Logs
*.log
*.gz

# Environment files
client/.env
server/.env

# Build and cache files
client/build/
client/dist/
server/build/
server/dist/

# OS/editor-specific files
.DS_Store
Thumbs.db
*.swp
node_modules
